@font-face {
    font-family: "TT Lakes-Regular";
    src: url("font/TTLakes-Regular.ttf");
}
@font-face {
    font-family: "TT Lakes-Bold";
    src: url("font/TTLakes-Bold.ttf");
}
@font-face {
    font-family: "TT Lakes-Light";
    src: url("font/TTLakes-Light.ttf");
}
body{
    margin:0px;

}
a[href]{
    text-decoration: none;
    color: #1B1C21;
}
@media (max-width: 768px) {
    .container__title-elem2,
    .container__title-elem3{
        display: none;
    }
    .body{
        width: 320px;
    }
    .header__elem2,
    .header__elem4,

    .header__elem5,
    .header__elem6{
        display: none;
    }
    .container__elem img{
        width: 100%;
    }
    .container__post-text{
        height: 110px;
        overflow: hidden;

    }
}
@media (min-width: 768px) and (max-width: 1120px) {
    .container__title-elem2,
    .container__title-elem3{
        display: none;
    }
    .body{
        width: 768px;
    }
    .header .header__space{
        width: 200px!important;
    }
    .post{
        display: flex;
        flex-direction: row;
        gap: 70px;
    }
    .container__elem img{
        width: 360px;
        border-radius: 6px;
    }
    .container__post-text{
        height: 140px;
        overflow: hidden;

    }
}
@media (min-width: 1120px) {
    .body{
        width: 1120px;
    }
    .container__slide{
        flex-wrap: wrap;
    }
    .post{
        display: flex;
        flex-direction: row;
        gap: 70px;
    }
    .header{
        display: none !important;
    }
    .container__title{
        height: 100px;

    }
    .container__title-space{
        width: 400px;
    }

    .container__title-elem2,
    .container__title-elem3{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font: 16px "TT Lakes-Regular";
        font-weight: bold;
        width: 180px;
        margin-left: 20px;
    }
    .container__elem img{

        border-radius: 6px;
    }
}
.body{
    margin: auto;
    font: 16px "TT Lakes-Regular";
}
.header{

    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.elem{
    height: fit-content;
    width: fit-content;
}
.container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    overflow: hidden;
}
.container__title-elem1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container__slide {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;

}
.container__slide::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.btn{
    outline: none;
    font: 16px "TT Lakes-Regular";
    height: 40px;
    white-space: nowrap;
    color: #7E7E82;
    border: 2px solid #F8F8F8;
    background: #F8F8F8;
    padding: 1px 12px;
}
.btn:focus{

    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #ffffff;
}
.container__elem{
    margin: 16px;
}
.container__title{
    display: flex;
    align-items: center;
    font-family: "TT Lakes-Bold", serif;
    font-size: 28px;

}
.container__post{
    font-size: 14px;
}

.container__elem-read-more{
    display: flex;
    margin: 16px 0px;
}
.container__elem_read-more a{
    font-weight: bold;
}

/* мобильное меню */

.mobile-menu{
    width: 320px;
    height: 1024px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);}
.mobile-menu__header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 88px;
    align-items: center;
}
.mobile-nav{
    display: flex;
    flex-direction: column;
    gap: 32px
}
.mobile-nav div{
    font-size: 16px;
    font-family: "TT Lakes-Light";
    font-weight: bold;
    display: flex;

    align-items: center;
}
.mobile-nav__elem span{
    position: absolute;
}
.mobile-nav__elem a{
    margin-left: 20px;
}
.mobile-nav__elem:hover span{
    content: url(img/marker.svg);
}
.elem12:hover a,
.footer-icons svg:hover,
.header__elem:hover,
.mobile-menu__footer-phone:hover,
.mobile-menu__footer-email:hover,
.mobile-menu__footer-lang a:hover:not(.mobile-menu__footer-lang_active){
    transition: 0.5s;
    opacity: 0.6;
}
.mobile-menu__footer{
    display: flex;
    flex-direction: column;

    margin: 200px 0 0 24px;
    color: #1B1C21;
    font-family: "TT Lakes-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}
.footer-icons{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.mobile-menu__footer-email{
    margin-top: 16px;
    text-decoration: none;
    color: #1B1C21;
}
.mobile-menu__footer-phone{
    margin-top: 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.6px;
    text-decoration: none;
    color: #1B1C21;
}

.mobile-menu__footer-lang{
    margin-top: 40px;
    font-weight: 600;
}
.mobile-menu__footer-lang_active{
    color: #7E7E82 !important;
}